<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dawn</title>
    <link rel="short icon" href="">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="login-container">
        <h2>로그인</h2>
        <form class="login-form">
            <input type="text" name="id" name placeholder="아이디 입력" required><br>
            <input type="password" name="pwd" placeholder="비밀번호 입력" required><br>
            <input type="checkbox" name="save-id" value="save-id">아이디 저장
            <input type="checkbox" name="auto-login" value="auto-login">자동 로그인<br>
            <button class="login-btn">로그인</button>
        </form>
    </div>
</body>
<script src="js/login.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</html>